{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block content %}
    <h1>Liste des devis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Haie</th>
                <th>Client</th>
                <th>Date</th>
                <th>Hauteur</th>
                <th>Longueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.haie }}</td>
                <td>{{ devi.user }}</td>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
                <td>{{ devi.hauteur }}</td>
                <td>{{ devi.longueur }}</td>
                <td>
                    <a href="{{ path('app_devis_crud_edit', {'id': devi.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
