{% extends 'base.html.twig' %}

{% block title %}Haie{% endblock %}

{% block content %}
    <h1>Haie</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ haie.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ haie.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ haie.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_haie_crud_index') }}">Retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('app_haie_crud_edit', {'code': haie.code}) }}">editer</a>

    {{ include('haie_crud/_delete_form.html.twig') }}
{% endblock %}
